<div class="floating-panel">
  <div class="toggle-panel" (click)="displaySelection = !displaySelection">
    <div class="toggle-text">
      <h3>Data sources</h3>
    </div>
  </div>
  @if (dataSources && displaySelection) {
    <div class="source-selection">
      <mat-card>
        @for (source of dataSources; track source; let i = $index) {
          <div>
            <mat-checkbox [(ngModel)]="selectedDatasets[i]">{{ source[1] }}</mat-checkbox>
          </div>
        }
        <br>
          <button mat-stroked-button id="select-button" (click)="changeSelection()">Save</button>
        </mat-card>
      </div>
    }
  </div>
