<div class="about-page">
    <header>
      <h1>About ChantLab</h1>
    </header>
  
    <section class="introduction">
      <p>
        ChantLab is an advanced tool designed to assist researchers, musicologists, and enthusiasts 
        in the <strong>analysis and comparison of Gregorian chant melodies</strong>. The platform provides a robust set of features 
        for exploring, aligning, filtering, and visualizing chant melodies, making it an invaluable resource for 
        the study of plainchant transmission across centuries and regions.
      </p>
    </section>
  
    <section class="features">
      <h2>Key Features</h2>
      <ul>
        <li>Melody alignment and comparison across chant sequences.</li>
        <li>Visualization tools for exploring melodic similarities and variations.</li>
        <li>Advanced filtering options to focus on specific parts of the chant data.</li>
        <li>Alignment of melodies from different sources using identical Cantus IDs.</li>
        <li>Concatenation of melodies from the same source, allowing for streamlined analysis.</li>
      </ul>
    </section>
  
    <section class="history">
      <h2>Project Origins</h2>
      <p>
        ChantLab started as a <strong>bachelor thesis</strong> by Kristína Szabová. Her work, titled 
        "<i>Analytical Tools for Gregorian Chant</i>" (2021), laid the foundation for this platform. 
        <a href="https://dspace.cuni.cz/bitstream/handle/20.500.11956/148285/130315702.pdf" target="_blank">
          Read the thesis</a>.
      </p>
      <p>
        Today, ChantLab is being developed under the <strong>Digital Analysis of Chant Transmission (DACT)</strong>. This project, funded by the Social Sciences and Humanities Research Council of Canada, 
        aims to advance the study of chant dissemination using computational tools.
      </p>
    </section>
    <br>
    <div class="project-info">
        <p>
            Explore more about the project, its goals and contacts on our
            <a href="https://ufal.mff.cuni.cz/grants/dact" target="_blank" rel="noopener noreferrer">homepage</a>.
        </p>
      </div>
    <footer>
      <a href="https://dact-chant.ca/" target="_blank" rel="noopener noreferrer">
        <img 
          src="https://dact-chant.ca/images/DACT-logo-Nov2-2019-2.png" 
          alt="DACT Project Logo"
          class="dact-logo" 
        />
      </a>
    </footer>
  </div>