<div class="chant-details">
  <div class="chant-card">
    @if (chant) {
      <mat-card>
        <mat-card-title>{{ chant.db_source.siglum }}, {{ chant.db_source.position }}, {{ chant.db_source.folio }}</mat-card-title>
        <mat-card-content class="melody-content">
          @if (chant.json_volpiano) {
            <div class="volpiano-scroll">
            <div class="chant">
              @for (section of chant.json_volpiano.elements; track section) {
                <div class="section">
                  @for (word of section.elements; track word; let lastWord = $last; let wordIdx = $index) {
                    <div class="word">
                      @for (syllable of word.elements; track syllable; let lastSyllable = $last; let sylIdx = $index) {
                        <div class="syllable">
                          <div class="volpiano">
                            @if (!syllable.elements) {
                              -
                            }
                            @for (element of syllable.elements; track element; let lastElem = $last) {
                              @if (element.type === 'neume') {
                                @for (note of element.elements; track note; let lastNote = $last) {
                                  @if (note.editorial) {
                                    <span class="neume">{{ note.editorial.volpianoPosition }}</span>
                                  }
                                  @if (syllable.elements.length > 1 && !lastNote) {
                                    <span class="neumeBoundary boundary">-</span>
                                  }
                                  @if (lastSyllable && lastElem && lastNote) {
                                    <span class="bar">7</span>
                                  }
                                }
                              } @else {
                                <span class="{{ element.type }}">
                                  @if (element.editorial) {
                                    {{ element.editorial.volpiano }}
                                  }
                                  @if (!element.editorial) {
                                    --
                                  }
                                </span>
                              }
                            }
                            @if (word.elements.length > 1 && !lastSyllable) {
                              <span class="syllableBoundary boundary">--</span>
                            } @else {
                              @if (lastSyllable && !lastWord) {
                                <span class="wordBoundary boundary">---</span>
                              }
                            }
                          </div>
                          <div class="text">
                            @if (syllable.annotation) {
                              <span class="annotation">{{ syllable.annotation }}</span>
                            }
                            @if (syllable.lyric) {
                              <span>
                                <span class="lyric" [ngClass]="{'stressed': chant.stresses.length > 0 && chant.stresses[wordIdx - 1][sylIdx]}">
                                  {{ syllable.lyric }}
                                </span>
                                @if (word.elements.length > 1 && !lastSyllable) {
                                  <span class="hyphen">-</span>
                                }
                              </span>
                            } @else {
                              &nbsp;
                            }
                          </div>
                        </div>
                      }
                    </div>
                  }
                </div>
              }
            </div>
            </div>
          } @else {
            <div class="volpiano-scroll">
              <div class="volpiano volpiano-raw">{{ chant.db_source.volpiano }}</div>
            </div>
          }
        </mat-card-content>
        <mat-card-subtitle>Raw volpiano</mat-card-subtitle>
        <mat-card-content><input matInput [(ngModel)]="volpiano" [disabled]="!chant.db_source.is_owned"></mat-card-content>
        <mat-card-subtitle>Full text</mat-card-subtitle>
        <mat-card-content>{{ chant.db_source.full_text }}</mat-card-content>
        <mat-card-subtitle>Genre</mat-card-subtitle>
        <mat-card-content>{{ genre }}</mat-card-content>
        <mat-card-subtitle>Source</mat-card-subtitle>
        <mat-card-content>{{ chant.db_source.siglum }}
          @if (chant.db_source.century_code) {
            &nbsp;({{ humanReadableCentury }})
          }
        </mat-card-content>
        <!--      <mat-card-subtitle>Office</mat-card-subtitle>-->
        <!--      <mat-card-content>{{ office }}</mat-card-content>-->
        <!--      <mat-card-subtitle>Mode</mat-card-subtitle>-->
        <!--      <mat-card-content>{{ chant.db_source.mode }}</mat-card-content>-->
        <mat-card-subtitle>Cantus ID</mat-card-subtitle>
        <mat-card-content><a href="http://cantusindex.org/id/{{ chant.db_source.cantus_id }}" target="_blank">{{ chant.db_source.cantus_id }}</a></mat-card-content>
        <mat-card-subtitle>Details</mat-card-subtitle>
        <mat-card-content>
          <a href="{{ chant.db_source.drupal_path }}">{{ chant.db_source.drupal_path }}</a>
        </mat-card-content>
        @if (chant.db_source.is_owned) {
          <div class="update-volpiano">
            <button mat-raised-button color="primary" (click)="updateVolpiano()">Update volpiano</button>
          </div>
        }
      </mat-card>
    }
  </div>
</div>
