.navigation {
    width: 100%;
}

.navigation app-navigation {
    display: block;
    width: 100%;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar mat-toolbar {
    min-height: 64px;
    padding: 0 16px;
}

.body {
    margin-top: 80px;
}
