.card {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.syllable-nomargin {
    display: inline-block;
    height: fit-content;
    margin-bottom: 0.6em;
}

.title-group {
    width: 100%;
    display: flex;
    justify-content: left;
}

.download-button {
    margin: 20px;
    width: fit-content;
}

.control-button {
  margin: 20px;
  width: fit-content;
}

.scrollable {
    min-height: 100%;
    min-width: 100%;
}

.alignment {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.color-checkbox,
.conservation-checkbox,
.header-checkbox,
.wordbars-checkbox,
.text-checkbox,
.conservation-indicator {
    margin-left: 20px;
}

.spinner {
    margin: auto;
}

.raw {
    font-family: 'Courier New', Courier, monospace;
}

.mode-selector {
    margin: 20px;
}

.volpiano {
    font-size: 35px;
}

/* Layout */

div.controls-wrapper {
  display: flex;
}

div.display-controls {
  display: inline-block;
  float: left;
  margin: 20px;
}

div.distance-matrix-wrapper {
  position: absolute;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  left: 0;
  right: 0;
  /*display: inline;*/
  /*float: right;*/
}

div.widget-control-wrapper {
  display: flex;
  flex-direction: column;
  unicode-bidi: isolate;
}

div.widget-control {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
}

div.redirect-widget-control {
  margin-top: auto;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

ul.widget-control {
  list-style: none;
}

.widget-control-button {
  width: fit-content;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.alignment-scroll-viewport {
  /*width: 100%;*/
  height: 600px;
  border: 1px solid #3F51B5;
  margin-left: 10px;
}


