<div class="alignment">

  <app-network-graph [distanceMatrix]="computeDistances()"></app-network-graph>

  <div class="controls-wrapper">
    <!-- Display controls and download -->

    <div class="display-controls">
      <h3>Display options</h3>
      <mat-checkbox [(ngModel)]="showHeaders" class="header-checkbox">Show headers</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="showText" class="text-checkbox">Show text</mat-checkbox><br>
      <mat-checkbox
        [(ngModel)]="showColors"
        (ngModelChange)="showConservation = false"
        class="color-checkbox">
        Show colors
      </mat-checkbox><br>
      <mat-checkbox
        [(ngModel)]="showConservation"
        (ngModelChange)="showColors = false"
        class="conservation-checkbox">
        Show conservation
      </mat-checkbox>
<!--      <span *ngIf="showConservation" class="conservation-indicator">-->
<!--        Conservation of chant set: {{ conservationOfSet }}-->
<!--      </span>-->
      <br>
<!--      <button mat-raised-button (click)="downloadAligned()" color="primary" class="download-button">Download</button>-->
    </div>

    <div class="mode-selector">
      <h3>Display mode</h3>
      <mat-button-toggle-group [(ngModel)]="displayMode" aria-label="Display Mode">
        <mat-button-toggle value="volpiano">Volpiano</mat-button-toggle>
        <mat-button-toggle value="raw">Raw</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="widget-control">
      <ul class="widget-control">
        <li><button mat-raised-button (click)="saveAlignment()" color="primary" class="widget-control-button">Save</button>
            <button mat-raised-button (click)="downloadAligned()" color="primary" class="widget-control-button">Download</button></li>
        <li><button mat-raised-button (click)="doShowDistanceMatrix()" color="{{ showDistanceMatrixColor }}"
                    class="widget-control-button">Distance Matrix</button></li>
        <li><button mat-raised-button (click)="restrictToContrafacts()" color="primary" class="widget-control-button">Reduce to Contrafacts</button></li>
      </ul>
    </div>

  </div>


  <cdk-virtual-scroll-viewport
    appendOnly
    itemSize="120"
    minBufferPx="240"
    maxBufferPx="1200"
    class="alignment-scroll-viewport"
    *ngIf="alignment; else progressSpinner">
    <!--<div cdkDropList
         class="scrollable"
         (cdkDropListDropped)="drop($event)"> -->

      <div *cdkVirtualFor="let chant of alignment.parsedChants; let volpianoIdx = index"
           class="card">
<!--           cdkVirtualForTemplateCacheSize=50-->
<!--           cdkDrag-->
        <div *ngIf="alignmentPresent[volpianoIdx]">

          <div *ngIf="alignmentUncollapsed[volpianoIdx]; else collapsed">
            <div class="chant">
              <div class="title-group" *ngIf="showHeaders">
                <div class="alignment-options">
                  <button mat-button class="collapse-button" (click)="collapseAlignment(volpianoIdx)">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                  </button>
                  <button mat-button class="delete-button" (click)="deleteAlignment(volpianoIdx)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <button mat-button class="title-button"
                (click)="showDetail(alignment.ids[volpianoIdx])">
                    {{ volpianoIdx + ': ' + alignment.sources[volpianoIdx] }}
                </button>
              </div>
              <br>
              <div *ngFor="let word of chant; let wordIdx = index" class="word">
                <div *ngFor="let syllable of word; let lastSyllable = last; let sylIdx = index" [attr.class]="showHeaders ? 'syllable' : 'syllable-nomargin'">
                  <div [attr.class]="displayMode">
                    <span class="neumes" *ngFor="let neume of syllable.volpiano; let neumeIdx = index">
                      <span *ngIf="showColors" [ngStyle]="getColor(neume)">{{ neume }}</span>
                      <span *ngIf="showConservation"
                            [ngStyle]="getConservationColor(volpianoIdx, wordIdx, sylIdx, neumeIdx)">{{ neume }}</span>
                      <span *ngIf="!showColors && !showConservation">{{ neume }}</span>
                    </span>
                  </div>
                  <div *ngIf="showText" class="text">
                    <span class="lyric">{{ syllable.text }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ng-template #collapsed>
            <div class="collapsed-chant">
              <div class="title-group" *ngIf="showHeaders">
                <div class="alignment-options">
                  <button mat-button class="collapse-button" (click)="uncollapseAlignment(volpianoIdx)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                  <button mat-button class="delete-button" (click)="deleteAlignment(volpianoIdx)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <button mat-button class="title-button"
                (click)="showDetail(alignment.ids[volpianoIdx])">
                  {{ alignment.sources[volpianoIdx] }}
                </button>
              </div>
            </div>
          </ng-template>

        </div>
        <div class="detail" *ngIf="visibleDetails[alignment.ids[volpianoIdx]]">
            <app-chant-details [id]="alignment.ids[volpianoIdx]"></app-chant-details>
        </div>
      </div>

    <!--</div>--> <!-- of cdkDropList -->
  </cdk-virtual-scroll-viewport>

  <ng-template #progressSpinner>
      <div class="spinner">
          <mat-spinner></mat-spinner>
      </div>
  </ng-template>

  <!-- Display tools -->
  <div *ngIf="showDistanceMatrix"
       class="distance-matrix-wrapper"
       (keyup)="onKeyUp($event)">
    <app-distance-matrix
      [allDistances]="computeDistances()"
      [names]="distanceMatrixChantNames"
    ></app-distance-matrix>
  </div>

</div>
