<div class="alignment">

  <div class="controls-wrapper">
    <!-- Display controls and download -->

    <div class="display-controls">
      <h3>Display options</h3>
      <mat-checkbox [(ngModel)]="showHeaders" class="header-checkbox">Show headers</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="showText" class="text-checkbox">Show text</mat-checkbox><br>
      <mat-checkbox
        [(ngModel)]="showColors"
        (ngModelChange)="showConservation = false"
        class="color-checkbox">
        Show colors
      </mat-checkbox><br>
      <mat-checkbox
        [(ngModel)]="showConservation"
        (ngModelChange)="showColors = false"
        class="conservation-checkbox">
        Show conservation
      </mat-checkbox>
      <!--      <span *ngIf="showConservation" class="conservation-indicator">-->
      <!--        Conservation of chant set: {{ conservationOfSet }}-->
    <!--      </span>-->
    <br>
      <mat-checkbox [(ngModel)]="showWordBars" class="wordbars-checkbox">Segment words</mat-checkbox><br>
      <!--      <button mat-raised-button (click)="downloadAligned()" color="primary" class="download-button">Download</button>-->
    </div>

    <div class="mode-selector">
      <h3>Display mode</h3>
      <mat-button-toggle-group [(ngModel)]="displayMode" aria-label="Display Mode">
        <mat-button-toggle value="volpiano">Volpiano</mat-button-toggle>
        <mat-button-toggle value="raw">Raw</mat-button-toggle>
      </mat-button-toggle-group>
      <br>
        {{ nAlignmentsShown }} sequences
        @if (displayMode === 'volpiano') {
          <div>
            <br>
              <mat-button-toggle-group
                [(ngModel)]="isNotesOnly"
                aria-label="Volpiano Display Mode">
                <mat-button-toggle [value]="true">Notes</mat-button-toggle>
                <mat-button-toggle [value]="false">All</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          }
          <br><br>
        </div>


        <div class="widget-control-wrapper">
          <div class="widget-control">
            <ul class="widget-control">
              <li>
              @if (authService.isLoggedIn()) {
                <button mat-raised-button (click)="saveAlignment()" color="primary" class="widget-control-button">Save</button>
              }
              <button mat-raised-button (click)="downloadAlignedJson()" color="primary" class="widget-control-button">Download Alignment JSON</button>
              <button mat-raised-button (click)="downloadAlignedFasta()" color="primary" class="widget-control-button">Download FASTA</button>
              <button mat-raised-button (click)="downloadPhyloNewick()" color="primary" class="widget-control-button">Download Newick</button>
            </li>
            <li><button mat-raised-button (click)="doShowDistanceMatrix()" color="{{ showDistanceMatrixColor }}"
            class="widget-control-button">Distance Matrix</button>
            <button mat-raised-button (click)="downloadDistanceMatrix()" color="primary"
            class="widget-control-button">Download Distance Matrix</button>
            @if (alignmentMode !== 'syllables') {
              <button mat-raised-button (click)="doShowGuideTree()" color="{{ showGuideTreeColor }}" class="widget-control-button">Guide Tree</button>
            }
            <!--<button mat-raised-button (click)="doShowChantNetwork()" color="{{ showChantNetworkColor }}"
          class="widget-control-button">Chant Network</button>-->
          <!--<button mat-raised-button (click)="doShowManuscriptNetwork()" color="{{ showManuscriptNetworkColor }}"
        class="widget-control-button">Manuscript Network</button>-->
      </li>
      <li><button mat-raised-button (click)="downloadMelodiesSnapshot()" color="primary"
        class="widget-control-button" [disabled]="isDownloadingSnapshot">Download Alignment Snapshot PDF</button>
      @if (!concatenated) {
        <button mat-raised-button (click)="restrictToContrafacts()" color="primary" class="widget-control-button">Reduce to Contrafacts</button>
      }
    </li>
  </ul>
</div>
<div class="redirect-widget-control">
  <ul class="widget-control">
    <li><button mat-raised-button (click)="openPhylogeneticAnalysis()" color="accent" class="widget-control-button">Phylogenetic Analysis</button>
  </li>
</ul>
</div>
</div>

</div>


<ng-template #alignedChantMelody let-volpianoIdx="volpianoIdx" let-forExport="forExport">
  <div class="chant">
    @if (showHeaders) {
      <div class="title-group">
        @if (!forExport) {
          <div class="alignment-options">
            <button mat-button class="collapse-button" (click)="collapseAlignment(volpianoIdx)">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            @if (hasMultipleSequencesPresent) {
              <button mat-button class="delete-button" (click)="deleteAlignment(volpianoIdx)">
                <mat-icon>visibility_off</mat-icon>
              </button>
            }
          </div>
        }
        @if (forExport) {
          <span class="snapshot-title">{{ (volpianoIdx + 1) + ': ' + getSequenceName(alignment.ids[volpianoIdx]) }}</span>
        } @else {
          <button mat-button class="title-button"
            (click)="showDetail(alignment.ids[volpianoIdx])">
            {{ (volpianoIdx + 1) + ': ' + getSequenceName(alignment.ids[volpianoIdx]) }}
          </button>
        }
      </div>
    }
    <br>
      @for (word of alignment.parsedChants[volpianoIdx]; track word; let wordIdx = $index) {
        <div class="word">
          @for (syllable of word; track syllable; let sylIdx = $index) {
            <div [attr.class]="showHeaders ? 'syllable' : 'syllable-nomargin'">
              <div [attr.class]="displayMode">
                @for (neume of syllable.volpiano; track neume; let neumeIdx = $index) {
                  <span class="neumes">
                    @if (showColors) {
                      <span class="snapshot-neume" [ngStyle]="getColor(neume)">{{ normalizeVolpianoCharacter(neume) }}</span>
                    }
                    @if (showConservation) {
                      <span class="snapshot-neume"
                      [ngStyle]="getConservationColor(volpianoIdx, wordIdx, sylIdx, neumeIdx)">{{ normalizeVolpianoCharacter(neume) }}</span>
                    }
                    @if (!showColors && !showConservation) {
                      <span class="snapshot-neume">{{ normalizeVolpianoCharacter(neume) }}</span>
                    }
                    @if (neume === '4') {
                      <span>&nbsp;</span>
                    }
                  </span>
                }
              </div>
              @if (showText) {
                <div class="text">
                  <span class="lyric snapshot-lyric">{{ syllable.text }}</span>
                </div>
              }
            </div>
          }
        </div>
      }
  </div>
</ng-template>


<ng-template #alignedChantCollapsed let-volpianoIdx="volpianoIdx" let-forExport="forExport">
  <div class="collapsed-chant">
    @if (showHeaders) {
      <div class="title-group">
        @if (!forExport) {
          <div class="alignment-options">
            <button mat-button class="collapse-button" (click)="uncollapseAlignment(volpianoIdx)">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            @if (hasMultipleSequencesPresent) {
              <button mat-button class="delete-button" (click)="deleteAlignment(volpianoIdx)">
                <mat-icon>visibility_off</mat-icon>
              </button>
            }
          </div>
        }
        @if (forExport) {
          <span class="snapshot-title">{{ getSequenceName(alignment.ids[volpianoIdx]) }}</span>
        } @else {
          <button mat-button class="title-button"
            (click)="showDetail(alignment.ids[volpianoIdx])">
            {{ getSequenceName(alignment.ids[volpianoIdx]) }}
          </button>
        }
      </div>
    }
  </div>
</ng-template>


@if (alignment) {
  <cdk-virtual-scroll-viewport
    appendOnly
    itemSize="120"
    minBufferPx="240"
    maxBufferPx="1200"
    class="alignment-scroll-viewport"
    >
    <!--<div cdkDropList
    class="scrollable"
    (cdkDropListDropped)="drop($event)"> -->
    <div *cdkVirtualFor="let volpianoIdx of visibleIndices" class="card">
      <!--           cdkVirtualForTemplateCacheSize=50-->
      <!--           cdkDrag-->
      @if (alignmentUncollapsed[volpianoIdx]) {
        <div>
          <ng-container *ngTemplateOutlet="alignedChantMelody; context: { volpianoIdx: volpianoIdx, forExport: false }"></ng-container>
        </div>
      } @else {
          <ng-container *ngTemplateOutlet="alignedChantCollapsed; context: { volpianoIdx: volpianoIdx, forExport: false }"></ng-container>
        }
      </div>
      @if (visibleDetails[alignment.ids[volpianoIdx]]) {
        <div class="detail">
          <app-chant-details [id]="alignment.ids[volpianoIdx]"></app-chant-details>
        </div>
      }
    <!--</div>--> <!-- of cdkDropList -->
  </cdk-virtual-scroll-viewport>

  <div #alignmentCapture class="alignment-scroll-viewport alignment-capture" aria-hidden="true">
    @for (volpianoIdx of visibleIndices; track volpianoIdx) {
      <div class="card">
        @if (alignmentUncollapsed[volpianoIdx]) {
          <ng-container *ngTemplateOutlet="alignedChantMelody; context: { volpianoIdx: volpianoIdx, forExport: true }"></ng-container>
        } @else {
          <ng-container *ngTemplateOutlet="alignedChantCollapsed; context: { volpianoIdx: volpianoIdx, forExport: true }"></ng-container>
        }
      </div>
    }
  </div>
} @else {
  <div class="app-loading">
    <mat-spinner diameter="48"></mat-spinner>
    <span>Generation in progress...</span>
  </div>
}


<!-- Display tools -->
@if (showDistanceMatrix) {
  <div
    class="distance-matrix-wrapper"
    (keyup)="onKeyUp($event)">
    <app-distance-matrix
      [allDistances]="distanceMatrix"
      [names]="visibleSequencesDistanceMatrixChantNames"
    ></app-distance-matrix>
  </div>
}

@if (showGuideTree) {
  <div
    class="distance-matrix-wrapper">
    <app-guide-tree
      [treeString]="alignment.guideTree"
      [newickNamesDict]="alignment.newickNamesDict"
      [chants]="alignment.iChants">
    </app-guide-tree>
  </div>
}

<app-network-graph-wrapper
  [distanceMatrix]="distanceMatrix"
  [chants]="chantsMapForNetworkGraphs">
</app-network-graph-wrapper>

@if (isDownloadingSnapshot) {
  <div class="snapshot-loading-overlay">
    <mat-spinner diameter="48"></mat-spinner>
    <span>Generation in progress...</span>
  </div>
}

</div>
