<div class="network-wrapper">
    <div class="network chant-network">
        <mat-card *ngIf="showChantNetwork"
                  cdkDrag
                  class="single-network-container-div">
          <h3 align="center">Chant network</h3>
          <div class="network-graph-chants"  style="position: relative;"></div>
          <app-network-graph
              [distanceMatrix]="distanceMatrix"
              [colorScheme]="colorScheme"
              [distanceThreshold]="0.8"
              [networkType]="'chants'">
          </app-network-graph>
        </mat-card>
<!--        <button-->
<!--        mat-raised-button-->
<!--        (click)="showChantNetwork = !showChantNetwork"-->
<!--        color="primary">Chant network</button>-->
    </div>
    <div class="network manuscript-network">
        <mat-card *ngIf="showManuscriptNetwork"
                  cdkDrag
                  class="single-network-container-div">
          <h3 align="center">Manuscript network</h3>
          <div class="network-graph-manuscripts" style="position: relative;"></div>
          <app-network-graph
              [distanceMatrix]="distanceMatrix"
              [colorScheme]="colorScheme"
              [distanceThreshold]="1.0"
              [networkType]="'manuscripts'">
          </app-network-graph>
        </mat-card>
<!--        <button-->
<!--        mat-raised-button-->
<!--        (click)="showManuscriptNetwork = !showManuscriptNetwork"-->
<!--        color="primary">Manuscript network</button>-->
    </div>
</div>
