<div class="network-wrapper">
    <div class="network chant-network">
        <div *ngIf="showChantNetwork">
        <div class="network-graph-chants"></div>
        <app-network-graph
            [distanceMatrix]="distanceMatrix"
            [colorScheme]="colorScheme"
            [networkType]="'chants'">
        </app-network-graph>
        </div>
        <button
        mat-raised-button
        (click)="showChantNetwork = !showChantNetwork"
        color="primary">Chant network</button>
    </div>
    <div class="network manuscript-network">
        <div *ngIf="showManuscriptNetwork">
        <div class="network-graph-manuscripts"></div>
        <app-network-graph
            [distanceMatrix]="distanceMatrix"
            [colorScheme]="colorScheme"
            [distanceThreshold]="1.0"
            [networkType]="'manuscripts'">
        </app-network-graph>
        </div>
        <button
        mat-raised-button
        (click)="showManuscriptNetwork = !showManuscriptNetwork"
        color="primary">Manuscript network</button>
    </div>
</div>
