<div class="flexbox-container">
    <div class="nav-links">
        <a mat-icon-button class="home-button" routerLink="" aria-label="home">
            <mat-icon>home</mat-icon>
        </a>
        <a mat-button class="nav-link" routerLink="/chants" routerLinkActive="nav-link-active">Chant list</a>
        @if (authService.isLoggedIn()) {
          <a mat-button class="nav-link" routerLink="/upload" routerLinkActive="nav-link-active">Manage data</a>
          <a mat-button class="nav-link" routerLink="/alignment-manager" routerLinkActive="nav-link-active">Manage alignments</a>
        }
        <a mat-button class="nav-link" routerLink="/dashboard" routerLinkActive="nav-link-active">Dashboard</a>
        @if (authService.isLoggedIn()) {
          <a mat-button class="nav-link" routerLink="/settings" routerLinkActive="nav-link-active">Settings</a>
        }
        <a mat-button class="nav-link" routerLink="/about" routerLinkActive="nav-link-active">About</a>
    </div>
    <div class="auth-and-search">
        @if (authService.isLoggedIn()) {
          <span class="username">{{ authService.username }}</span>
          <a mat-button class="nav-link" (click)="logout()">Logout</a>
        } @else {
          <a mat-button class="nav-link" routerLink="/login" routerLinkActive="nav-link-active">Login</a>
          <a mat-button class="nav-link nav-link-emphasis" routerLink="/register" routerLinkActive="nav-link-active">Register</a>
        }
        <mat-form-field floatLabel=never class="searchBar" appearance="fill" subscriptSizing="dynamic">
            <mat-icon matPrefix>search</mat-icon>
            <input type="search"
                (keyup.enter)="search($event)"
                placeholder="Search incipit"
                [value]="searchValue"
                matInput>
        </mat-form-field>
    </div>
</div>
