<app-select-data-source></app-select-data-source>

@if (isLoading) {
  <div class="app-loading">
    <mat-spinner diameter="48"></mat-spinner>
    <span>Generation in progress...</span>
  </div>
}

@if (!isLoading && multiScatterData?.length) {
  <app-multiple-series-scatterplot
    [chartTitle]="multiScatterTitle"
    [valueXName]="multiScatterXName"
    [valueYName]="multiScatterYName"
    [data]="multiScatterData"
    id="multiScatterPlot">
  </app-multiple-series-scatterplot>
}

@if (!isLoading && melodyStackedHistData?.length) {
  <app-stacked-histogram
    [chartTitle]="melodyStackedHistTitle"
    [groupName]="melodyStackedHistGroupName"
    [valueXName]="melodyStackedHistXName"
    [valueYName]="melodyStackedHistYName"
    [data]="melodyStackedHistData">
  </app-stacked-histogram>
}

@if (!isLoading && textStackedHistData?.length) {
  <app-stacked-histogram
    [chartTitle]="textStackedHistTitle"
    [groupName]="textStackedHistGroupName"
    [valueXName]="textStackedHistXName"
    [valueYName]="textStackedHistYName"
    [data]="textStackedHistData">
  </app-stacked-histogram>
}
